// Define variables for your color scheme

// For example:
$red: #A54F5C;
$blue: #78C1E7;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #353A40;
$light-gray: #F4F4F4;

// Types
$bug: #ABB842;
$dark: #6C594A;
$dragon: #693BEF;
$electric: #F2D254;
$fairy: #EEB1FA;
$fighting: #B13C31;
$fire: #E28644;
$flying: #A491EA;
$ghost: #6C5994;
$grass: #8BC761;
$ground: #DBC175;
$ice: #A6D7D7;
$normal: #A9A87E;
$poison: #95469C;
$psychic: #E76388;
$rock: #B5A14B;
$steel: #B8B8CE;
$water: #78C1E7;

