#search-home, {
  margin-top: 60px;
  background-color: $dark-gray;
   margin-left: 70px
}

#banner-home{
  background-color: white;
  background-image: url("https://www.seekpng.com/png/detail/1-17066_download-grass-icon-png.png");
   // background-attachment:fixed;
 background-size: cover;
  background-repeat:no-repeat;
  padding-bottom: 60px 

}

 #search-home h1{
  color: white

 }

#sacha{
	height: 380px;
	width: 65%;
  // margin-left: 60px
}

#sacha-home{
 margin-top: 50px;
 width: 35%;
 margin-left: 20px
}



#or{
  font-size: 25px;
  color: white
  // font-weight: bold
}

#pokedex-button{
  margin-top: 10px;
}


.big-button{
width: 80%;
height: 50px;
display: inline-block;
 margin: 0 auto;
 padding: 0px 0 0 0 ;
 display: inline-block;
 line-height: 50px;
 text-align: center;
 font-size: 25px;
 font-weight: bold;

}

.bg-button:hover{
background-color: $dark-gray !important;
color: white
}

.section {
    // margin: 0px 120px;
    padding-top: 20px;
    justify-content: right;
    background-color: $white;

}

.section a{
text-decoration:none;
}

.card-home {
  display: flex;
  margin: 30px 70px ;
  // background-color: $dark-red;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  // color: $white;
  font-size: 60px;
  // font-weight: bold;
  border-radius: 20px;
  // border: 2px solid $dark-red

}


.card-home h3{
  width: 150px;
  margin: 20px 20px 20px 10px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  // margin-left: 40px;
   text-decoration: none;
  font-size: 42px;


}

// .card-home:hover{
// background-color: $white;
// border: 2px solid $dark-red

// }
// .card-home:hover h3 {
// color: $dark-red;
// }

.card-category {
  background-size: 90%;
  background-position: center;
  background-repeat:no-repeat;
  height: 270px;
  width: 70%;

}

#cards-pokemons {
  background-size: 75%;
  background-repeat:no-repeat;
  margin-left: 40px

}

// #card1 {
//   background-color: $yellow;
// border: 2px solid $yellow
// }

// #card1:hover {
//   background-color: $white;
// }

// #card1:hover h3 {
// color: $yellow;
// }

// #card2 {
//   background-color: $dark-red;
// border: 2px solid $dark-red
// }

// #card2:hover {
//   background-color: $white;
// }

// #card2:hover h3 {
// color: $dark-red;
// }

// #card3 {
//   background-color: $dark-gray;
// border: 2px solid $dark-gray
// }

// #card3:hover {
//   background-color: $white;
// }

// #card3:hover h3 {
// color: $dark-gray;
// }


#card1 {
  background-color: $white;
border: 4px solid $yellow;
color: $yellow
}

#card1:hover {
  background-color: $yellow;
}

#card1:hover h3 {
color: $white;
}

#card2 {
  background-color: $white;
border: 4px solid $dark-red;
color: $dark-red

}

#card2:hover {
  background-color: $dark-red;
}

#card2:hover h3 {
color: $white;
}

#card3 {
  background-color: $white;
border: 4px solid $dark-gray;
color: $dark-gray

}

#card3:hover {
  background-color: $dark-gray;
}

#card3:hover h3 {
color: $white;
}