// Specific CSS for your home-page
.container h1{
	margin: 20px 0;
}

.container {
	// background-color: white;
	    background-color: rgba(255,255,255,0.94);
  background-blend-mode: lighten;
}

body{
  background-image:
  url("https://labmap.files.wordpress.com/2016/09/pokemon-we-really-want-to-eat.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
  background-size: cover;

}