<div class = "container">
  <h1 >Types Index</h1>
  
	<table class="table sortable">
		<thead class="thead dark-gray-header"  id = "sticky-header">
	  <tr>
	    <th scope="col">#</th>
	    <th class ="text-center" scope="col">Type</th>
	    <th class ="text-center" scope="col">Number of Pokemons</th>  
	    <th class ="text-center" scope="col">Number of Moves</th>
	  </tr>
	</thead>
	  <% @types.each do |type| %>
	    <tr>
	      <th scope="row"><%=type.id%></th>
	      	<% case type.name %>
	          <% when "bug" %>
	            <td class ="text-center type-header " id = "bug-header">
	          <% when "dark" %>
	            <td class ="text-center type-header" id = "dark-header">
	          <% when "dragon" %>
	            <td class ="text-center type-header" id = "dragon-header">
	          <% when "electric" %>
	            <td class ="text-center type-header" id = "electric-header">
	          <% when "fairy" %>
	            <td class ="text-center type-header" id = "fairy-header">
	          <% when "fighting" %>
	            <td class ="text-center type-header" id = "fighting-header">
	          <% when "fire" %>
	            <td class ="text-center type-header" id = "fire-header">
	          <% when "flying" %>
	            <td class ="text-center type-header" id = "flying-header">
	          <% when "ghost" %>
	            <td class ="text-center type-header" id = "ghost-header">
	          <% when "grass" %>
	            <td class ="text-center type-header" id = "grass-header">
	          <% when "ground" %>
	            <td class ="text-center type-header" id = "ground-header">
	          <% when "ice" %>
	            <td class ="text-center type-header" id = "ice-header">
	          <% when "normal" %>
	            <td class ="text-center type-header" id = "normal-header">
	          <% when "poison" %>
	            <td class ="text-center type-header" id = "poison-header">
	          <% when "psychic" %>
	            <td class ="text-center type-header" id = "psychic-header">
	          <% when "rock" %>
	            <td class ="text-center type-header" id = "rock-header">
	          <% when "steel" %>
	            <td class ="text-center type-header" id = "steel-header">
	          <% when "water" %>
	            <td class ="text-center type-header" id = "water-header">
	          <%else%>
	            <td>
	          <% end %>
	      	<%= link_to type.name.capitalize, type_path(type.id) %></td>
	      <td class ="text-center"><strong><%=type.pokemons.size%></strong></td>
	      <td class ="text-center"><strong><%=type.attacks.size%></strong></td>
	    </tr>
	  <%end%>
	</table>
	<br>
</div>

	