<div class="footer">
	<div class="footer-links">
		<a href="#"><i class="fab fa-github"></i></a>
		<a href="#"><i class="fab fa-instagram"></i></a>
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<a href="#"><i class="fab fa-linkedin"></i></a>
	</div>
	<div id="pokedex-link">
		<%= link_to 'Start your Pokédex now!', new_pokedex_path %>
	</div>
	<div class="footer-copyright">
PokéMaster made with ♥️ by Mathieu
<!-- 		<p>All rights reserved Ⓡ 2019/2020</p>
 -->
	</div>
</div>