.round {
border-radius: 10px
}

.bg-white{
background-color: white;
color: #353A40;
// border: 2px solid black
}

.bg-white:hover{
background-color: #353A40 !important;
color: white
}

.danger{
color: red;
border: 1px solid red
}

.danger:hover{
background-color: red;
color: white;
border: 1px solid red
}

.main-button {
background-color: $dark-gray;
color: white;
}

.main-button:hover {
background-color: white;
color: $dark-gray;
}

.red-button {
background-color: $dark-red;
color: white;
}

.red-button:hover {
background-color: white;
color: $dark-red;
}

.outline-button {
background-color: white;
border: solid 2px $dark-gray;
color: $dark-gray;
font-weight: bold
}

.outline-button:hover {
	background-color: $dark-gray;
	color: $white;
}

.large-button{
width: 100%
}

.big-button{
width: 50%;
height: 60px;
display: inline-block;
 margin: 0 auto;
 padding: 0;
 display: inline-block;
 line-height: 50px;
 text-align: center;

}
.big-button{
text-align: center;
vertical-align: middle
}

.main-color{
	background-color: white ;
	color: $dark-gray !important;
}

.main-color:hover{
	background-color:  #B1485B;
	color: white !important;
}

.main-color-two{
	// background-color: white ;
	// outline: 1px solid $dark-red;
	color: $dark-gray !important;
}

.main-color-two:hover{
	// background-color:  #B1485B;
	color: $dark-red !important;
}

#login-button {
	color: white;
	font-weight: bold
}

#login-button:hover {
	color: $yellow;
}