body{
 background-image:
 url("https://labmap.files.wordpress.com/2016/09/pokemon-we-really-want-to-eat.jpg");
 background-repeat:no-repeat;
 background-attachment:fixed;
 background-size: cover;
 color: $dark-gray;
}

a:hover {
text-decoration: none
}

.container {
	// background-color: white;
  background-color: rgba(255,255,255,0.94);
  background-blend-mode: lighten;
  height: 100%;
  min-height: 100vh;
  padding: 0px 30px
}

.container-teams {
  padding: 0px 0px
}

.container h1{
	padding: 30px;
	color: #353A40
}

.container h3 a{
  color: #353A40
}

.container-home {
	// background-color: white;
  height: 100%;
  min-height: 100vh;
  padding: 0px 150px
}

#container-banner {
	// background-color: white;
  min-height: auto;
  padding: 0px 30px;
  background:none;
  height: 100vh;
}

.container-login{
width: 400px;
margin: 0px 0px;
padding-top: 50px;
height: 100vh
}

