.dark-gray-header{
	background-color:  $dark-gray;
	color: white
}

.dark-red-header{
	background-color:  $dark-red;
	color: white
}

.dark-blue-header{
	background-color:  $dark-blue;
	color: white
}

.yellow-header{
	background-color:  $yellow;
	color: black
}

.blue-header{
	background-color:  $blue;
	color: white
}

.gray-header{
	background-color:  $gray;
	color: white
}



.type-header h1, .type-header a{
color: white 
}

#bug-header{
background-color: $bug;
color: white 
}

#dark-header{
background-color: $dark;
color: white 
}

#dragon-header{
background-color: $dragon;
color: white 
}

#electric-header{
background-color: $electric;
color: black 
}

#fairy-header{
background-color: $fairy;
color: white 
}

#fighting-header{
background-color: $fighting;
color: white 
}

#fire-header{
background-color: $fire;
color: white 
}

#flying-header{
background-color: $flying;
color: white 
}

#ghost-header{
background-color: $ghost;
color: white 
}

#grass-header{
background-color: $grass;
color: white 
}

#ground-header{
background-color: $ground;
color: white 
}


#ice-header{
background-color: $ice;
color: white 
}

#normal-header{
background-color: $normal;
color: white 
}

#poison-header{
background-color: $poison;
color: white 
}

#psychic-header{
background-color: $psychic;
color: white 
}

#rock-header{
background-color: $rock;
color: white 
}

#steel-header{
background-color: $steel;
color: white 
}

#water-header{
background-color: $water;
color: white 
}