.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #353A40;
  position: sticky;
  top:0;
}

.navbar-brand {
font-size: 30px !important;
color:white !important;
}

// #navbarSupportedContent a{
// color:white ;
// font-size: 18px
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

#navbarSupportedContent{
margin-left: 50px
}

.nav-item {
	padding: 0px 10px
}

.nav-item.tab a{
color:white !important;
font-size: 18px;
font-weight: bold;
}

.nav-item.tab.yellow-tab:hover a{
  color:  $yellow !important;
}

.nav-item.tab.dark-red-tab:hover a{
  color:  $dark-red !important;
}

.nav-item.tab.light-gray-tab:hover a{
  color:  $gray !important;
}

.nav-item.tab.dark-gray-tab:hover a{
  color:  $dark-gray !important;
}