table a {
color: $dark-gray;
font-weight: bold
}

table > a:hover {
color: $dark-red;
}



.table thead th{
  vertical-align: middle;
}

// .table tbody th{
//   vertical-align: middle;
// }

.table tbody td, .table tbody th{
  vertical-align: middle;
  background-color: white;
}

.table .text-center {
  text-align: center
}

.table{
	color: $dark-gray
}

#table-profile tbody td, #table-profile tbody th{
  background: none
}

.location {
display: inline-block;
text-align:left;
}

// #sticky-header {
// 	background-color:  $dark-red;
// 	color: white
// }


