

table a {
color: #353A40;
font-weight: bold
}

table a:hover {
text-decoration: none
}

.table thead th{
  vertical-align: middle;
}

.table tbody th{
  vertical-align: middle;
}

.table tbody td{
  vertical-align: middle;
}

.location {
display: inline-block;
text-align:left;
}
