table a {
color: $dark-gray;
font-weight: bold
}

table > a:hover {
color: $dark-red;
}

table a:hover {
text-decoration: none
}

.table thead th{
  vertical-align: middle;
}

.table tbody th{
  vertical-align: middle;
}

.table tbody td{
  vertical-align: middle;
}

.table{
	color: $dark-gray
}
.location {
display: inline-block;
text-align:left;
}

// #sticky-header {
// 	background-color:  $dark-red;
// 	color: white
// }


